<div class="wrapper text-center">
  <h1>Your Memberships</h1>

  <!-- Warning to show if search doesnt find anything: -->
  <% if @memberships.blank? %>
    <h4>Sorry you are not a member of anny group membership.</h4>
  <% end %>
</div>

<div class="container">
  <div class="row">

    <% @memberships.each do |membership| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('unsplash.it/750/750')">
        <div class="card-description">
            <h2><%= membership.group.name %></h2>
            <p>Created at: <%= membership.created_at %></p>
            <p>Last updated: <%= membership.updated_at %></p>
          </div>
        <%= link_to "see group" ,user_group_path(id: membership.group_id) %>
        <%= link_to "delete" , user_group_membership_path(id: membership.id), method: :delete %>
      </div>
    </div>
    <% end %>
    <!-- link_to 'Sell your game', new_user_product_offer_path, {class: 'btn btn-lg btn-warning'} -->
  </div>
</div>
