<div class="container">
  <div class="row">
    <!-- group stats and name here -->
    <div class="col-xs-12 col-sm-6">
      <h1 class="dark-green-text"><%= @group.name %></h1>
    </div>
  </div>
  <div class="row">
    <!-- group stats and name here -->
    <div class="col-xs-12">
      <h4 class="dark-green-text">Team's Positivity Chart</h4>
      <h5>Graph shows the positivity index calculated for each answer given in the team.</h5>
      <% if @group.group_memberships.count > 1 %>
        <div class="chart-border">
          <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>
          <%= line_chart(Answer.group(:question_id).sum(:pos), height: "250px", max: 1, colors: ["orange", "#999"]) %>
        </div>
      <% else %>
        <div class="slightly-padded" style="margin-left: 30px;">
          <h5>[ No amazing data to show...<em>yet</em> ]</h5>
        </div>
      <% end %>
    </div>
  </div>
  <% if @group.group_memberships.count > 1 %>
    <div class="row">
      <!-- group stats and name here -->
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h4 class="dark-green-text">Happiness by Subject</h4>

          <%= column_chart [["Work Space", 3], ["Co-workers", 10], ["Challenges", 8], ["Work Load", 6 ]], colors: ["orange", "#999"]%>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h4 class="dark-green-text">Happiest</h4>
          <%= column_chart [["Ciaran E.", 10], ["Pedro Rio.", 8], ["Diogo R.", 7], ["Filipe Paiva.", 3 ]], colors: ["#FFA5AF", "#999"]%>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <h4 class="dark-green-text">Unhappiest</h4>
          <%= column_chart [["Filipe Paiva.", 3 ], ["Diogo Rio.", 7], ["Pedro R.", 8], ["Ciaran E.", 10]], colors: ["#8BFEFF", "#999"]%>
      </div>
    </div>
  <% end %>
  <hr class="page-divider">

  <div class="row">
    <div class="col-xs-12">
      <h3 class="dark-green-text">Team members</h3>
      <% if @group.group_memberships.where(user_id: current_user.id, group_id: @group.id).take.admin == true %>
        <h5>Here are all the people that submit questionnaires to the group. To add a new member and follow his/her mood just click the button below.</h5>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @group.users.each do |user| %>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="card-team-members">
          <div class="tiny-link">
            <% if user.id != current_user.id %>
              <%= link_to "x", group_group_membership_path(@group.id, user), method: :delete %>
            <% else %>
              <%= link_to "x", "#" %>
            <% end %>
          </div>
          <div class="picture">
            <% if !user.photo.nil? %>
              <%= cl_image_tag current_user.photo.path, width: 100, height: 100, gravity: :face, crop: :fill, class: "avatar-medium" %>
            <% elsif !user.facebook_picture_url.nil? %>
              <%= image_tag user.facebook_picture_url, class: "avatar-medium" %>
            <% else %>
              <%= image_tag 'default-member-image.png', class: "avatar-medium" %>
            <% end %>
          </div>
          <div class="member-info">
            <p class="remove-margin-bottom"><%= user.first_name + " " + user.last_name %></p>
            <p style="font-size: 12px;"><%= user.email %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr class="page-divider">

  <% if @group.group_memberships.where(user_id: current_user.id, group_id: @group.id).take.admin == true %>
    <div class="row">
        <div class="col-xs-6">
          <div style="float: left">
            <%= link_to "Add team members", new_group_group_membership_path(group_id: @group.id), method: :get, class: "btn btn-brand-with-bg" %>
          </div>
        </div>
        <div class="col-xs-6">
          <div style="float: right">
            <%= link_to "Delete team", group_path(id: @group.id), method: :delete, class: "btn btn-dangerous" %>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center padded">
          <div class="btn btn-primary" id="send-q-<%= @group.id %>">Send Questionnaire</div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <div class="wrapper" id="questionnaire" style="display: none; width: 100%;">
        <%#= render 'questionnaire' %>
      </div>
    </div>
  </div>
</div>



<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      // Content for questionnaire button (this should stay):
      $("#send-q-<%= @group.id %>").on("click", function(){
        $("#send-q-<%= @group.id %>").text("Sent Successfully!").removeClass("btn-primary");
        $("#send-q-<%= @group.id %>").addClass("btn-default").css( "color", "green" );
      });

    });
  </script>
<% end %>

