      <div class="banner-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="home-question" id="q01">
              <% template_question_1 = TemplateQuestion.sample_of_question_type("opening_question") %>
              <h2><%= template_question_1.content %></h2>
              <h4 class="hidden"><%= template_question_1.id %></h4>
              <%= render 'pages/form_question' %>
            </div>
            <div class="home-question" id="q02" style="display: none;">
              <h2></h2>
              <h4 class="hidden"></h4>
              <%= render 'pages/form_question' %>
            </div>
            <div class="home-question" id="q03" style="display: none;">
              <h2></h2>
              <h4 class="hidden"></h4>
              <%= render 'pages/form_question' %>
            </div>
          </div>
        </div>
      </div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var qId = 1;
      $('.answer-submit').on('click', function(event){
        console.log(qId);
        if (qId < 3) {
          event.preventDefault();
        };


        var parameters = {
          "text": $('#answer-text', '#q0' + qId).val(),
          "question_id": $('#q0' + qId  + " h4").text(),
          "convo_history_id": "<%= @new_convo_history.id %>",
          "question_number": qId
        };

        $.ajax({
          type: "POST",
          url: "/answers",
          data: parameters,
        });

        qId ++;
        console.log("plus one!");
        console.log(qId);
      });
    });

  </script>
<% end %>
