<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(45,125,92,0.6) 0%, rgba(45,125,92,0.6) 50%), url(<%= asset_path 'background-image.jpg' %>); border-style: dashed;">
    <div class="container">
      <div class="banner-content">
        <% if current_user.nil? %>
          <h1>Hey there!</h1>
        <% else %>
          <h1><%= current_user.first_name.nil? ? "Hey there!" : "Hey there, " + current_user.first_name + "!" %></h1>
        <% end %>

        <!-- Let's add the reply box here  -->


      </div>
    </div>
    <div class="container">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="home-question" id="q01">
              <% question_1 = Question.sample_of_subject("generic_first_questions") %>
              <h2><%= question_1.content %></h2>
              <%= render 'form_question' %>
            </div>
            <div class="home-question" id="q02">
              <% question_2 = Question.sample_of_subject("generic_first_questions") %>
              <h2><%= question_2.content %></h2>
              <%= render 'form_question' %>
            </div>
            <div class="home-question" id="q03">
              <% question_3 = Question.sample_of_subject("generic_first_questions") %>
              <h2><%= question_3.content %></h2>
              <%= render 'form_question' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#q02').hide();
      $('#q03').hide();

      $('.btn', '#q01').on('click', function(event){
        event.preventDefault();

        console.log($('#answer-text', '#q01').val());
        var parameters = {
          "text": $('#answer-text', '#q01').val(),
          "question_id": "<%= question_1.id %>"
        }
        $.ajax({
          type: "POST",
          url: "/answers",
          data: parameters,
          success: function(data) {
            console.log("Sent to answers_controller");
          }
        });
      });

      $('.btn', '#q02').on('click', function(event){
          event.preventDefault();
          $('#q03').show();
          console.log("Got question 3");

        });
    });

  <% end %>
<% end %>
