<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-45deg, rgba(30,70,102,0.7), rgba(30,100,70,0.7)), url(<%= asset_path 'banner-happy-girl.jpg' %>);">
    <div class="container">
      <div class="banner-content">
        <div class="padded">
          <h1>Happy teams are productive teams!</h1>
          <h2>The app for following your team's mood</h2>
        </div>
        <div class="slightly-padded">
          <%= link_to "Start now", "/profile" , class: "btn btn-home-page-large" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 1 - add a team -->
<div class="wrapper">
  <div class="banner" style="background-color: #eee; height: 100vh;">
    <div class="container">
      <div class="secondary-banner">
        <div class="secondary-banner-content">
          <h2>Add your Team</h2>
          <h4>Make a group with your team.</h4>
          <h5>Find your teamates by email and they will automaticlly be invited to join.</h5>
        </div>
         <div class="secondary-banner-content secondary-banner-img hidden-xs" style="background-image: url(<%= asset_path 'screenshot-add-team.png' %>);">
        </div>
      </div>
    </div>

  </div>
</div>

<!-- 2 - Automatic questionnaires -->
<div class="wrapper">
  <div class="banner" style="background-color: #7EB8A1; height: 100vh;">
    <div class="container">
      <div class="secondary-banner">
        <div class="secondary-banner-content">
          <h2>Automatic Questionnaires</h2>
          <h4>Just say how often!</h4>
          <h5>Send <strong>template questionnaires</strong> automatically</h5>
          <h5><strong>Don't waste time</strong> reading answers one-by-one</h5>
        </div>
        <div class="secondary-banner-content secondary-banner-img hidden-xs" style="background-image: url(<%= asset_path 'screenshot-form-quest.png' %>);">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 3 - get visual results -->
<div class="wrapper">
  <div class="banner" style="background-color: #FF9B43; height: 100vh;">
    <div class="container">
      <div class="secondary-banner">
        <div class="secondary-banner-content">
          <h2>Visual Results</h2>
          <h4>No need to handle data!</h4>
          <h5>Get graphs of your team's <strong>motivation</strong> and overall <strong>satisfaction</strong>.</h5>
        </div>
         <div class="secondary-banner-content secondary-banner-img hidden-xs" style="background-image: url(<%= asset_path 'dashboard-screenshot.png' %>);">
        </div>
      </div>
    </div>

  </div>
</div>


<div class="wrapper">
  <div class="banner" style="background-color: #222; height: 100vh;">
    <div class="container">
      <div class="slightly-padded">
        <h5>Answer the 3-question form your team mates would receive weekly/monthly.</h5>
        <h5>See an example of the statistics you would get.</h5>
      </div>
      <%= link_to "Try it Now", "#" , class: "btn btn-home-page-large-two", id: "open-questionnaire"%>
    </div>
    <div class="container" id="questionnaire" style="display: none;">
      <!-- questionnaire will render here -->
      <%= render 'questionnaire'  %>
    </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      $('#open-questionnaire').on('click', function(event){
        event.preventDefault();
        $('#open-questionnaire').parent().hide();
        $('#questionnaire').fadeIn("slow");
        $('#answer-text','#q01').focus();

      });
    });
  </script>
<% end %>
