<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(45,125,92,0.6) 0%, rgba(45,125,92,0.6) 50%), url(<%= asset_path 'background-image.jpg' %>); border-style: dashed;">
    <div class="container">
      <div class="banner-content">
        <% if current_user.nil? %>
          <h1>Hey there!</h1>
        <% else %>
          <h1><%= current_user.first_name.nil? ? "Hey there!" : "Hey there, " + current_user.first_name + "!" %></h1>
        <% end %>

        <!-- Let's add the reply box here  -->


      </div>
    </div>
    <div class="container">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="home-question">
              <h2><%= Question.sample_of_subject("generic_first_questions").content %></h2>
              <%= render 'form_question' %>
            </div>
            <div class="home-question">
              <h2><%= Question.sample_of_subject("generic_second_questions").content %></h2>
              <%= render 'form_question' %>
            </div>
            <div class="home-question">
              <h2><%= Question.sample_of_subject("generic_third_questions").content %></h2>
              <%= render 'form_question' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="container" style="border-style: dashed;">
    <div style="margin-top: 100vh;">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="home-question">
            <%= render 'form_question' %>
          </div>
          <div class="home-question">
            <%= render 'form_question' %>
          </div>
          <div class="home-question">
            <%= render 'form_question' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
