
<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-45deg, rgba(30,70,102,0.7), rgba(45,125,92,0.7)), url(<%= asset_path 'banner-happy-girl.jpg' %>);">
    <div class="container">
      <div class="banner-content">
        <h1>Happy teams are productive teams!</h1>
        <h2>The app for following your team's mood</h2>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="padded" id="circles">
    <ul class="circles-container" style="margin-bottom: 0;">
      <li class="circle-box">
        <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
        <h4>Is someone in your team feeling down?</h4>
      </li>
      <li class="circle-box">
        <i class="fa fa-trophy" aria-hidden="true"></i>
        <h4>Are your team members not motivated?</h4>
      </li>
      <li class="circle-box">
        <i class="fa fa-thumbs-o-down " aria-hidden="true"></i>
        <h4>Is this hurting performance?</h4>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-45deg, rgba(120,70,92,0.7), rgba(45,125,92,0.7)), url(<%= asset_path 'banner-stressed-coder.jpg' %>);">
    <div class="container">
      <div class="banner-content">
        <div id="home-banner-form">
          <h2>Follow the team's mood on a weekly basis!</h2>
          <h3>This is what team members would get:</h3>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="home-question" id="q01">
              <% template_question_1 = TemplateQuestion.sample_of_question_type("opening_question") %>
              <h2><%= template_question_1.content %></h2>
              <%= render 'form_question' %>
            </div>
            <div class="home-question" id="q02" style="display: none;">
              <h2></h2>
              <%= render 'form_question' %>
            </div>
            <div class="home-question" id="q03" style="display: none;">
              <h2></h2>
              <%= render 'form_question' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      $('.btn').on('click', function(event){
        <!-- if next question is question number 3: -->
        if ($('#q03').is(":visible")) {

          console.log("Final question. Redirecting to results...");

        } else {
        <!-- if next question is question number 2: -->
          event.preventDefault();

          console.log($('#answer-text', '#q01').val());
          var parameters = {
            "text": $('#answer-text', '#q01').val(),
            "question_id": "<%= template_question_1.id %>",
            "convo_history_id": "<%= @new_convo_history.id %>"
          }
          $.ajax({
            type: "POST",
            url: "/answers",
            data: parameters,
            success: function(data) {
              console.log("Sent to answers_controller");
            }
          });
        }
      });
    });

  <% end %>
<% end %>
