
<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-45deg, rgba(30,70,102,0.7), rgba(45,125,92,0.7)), url(<%= asset_path 'banner-happy-girl.jpg' %>);">
    <div class="container">
      <div class="banner-content">
        <h1>Happy teams are productive teams!</h1>
        <h2>The app for following your team's mood</h2>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="padded" id="circles">
    <ul class="circles-container" style="margin-bottom: 0;">
      <li class="circle-box">
        <i class="fa fa-group" aria-hidden="true"></i>
        <h4>Add your team</h4>
      </li>
      <li class="circle-box">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <h4>Let the app ask them questions</h4>
      </li>
      <li class="circle-box">
        <i class="fa fa-line-chart " aria-hidden="true"></i>
        <h4>Get detailed feedback</h4>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(45deg, rgba(120,70,92,0.7), rgba(0,0,0,0.9)), url(<%= asset_path 'notebook-mac-desk-man.jpg' %>);">
    <div class="container">
      <div class="secondary-banner">
        <div class="secondary-banner-content">
          <h2>Automatic</h2>
          <h4>Just say how often!</h4>
        </div>
        <div class="secondary-banner-content">
          <h5>Send <strong>template questionnaires</strong> automatically</h5>
          <h5><strong>Don't waste time</strong> reading answers one-by-one</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(45deg, rgba(120,70,92,0.7), rgba(0,0,0,0.9)), url(<%= asset_path 'graphi-feedback-charts.jpg' %>);">
    <div class="container">
      <div class="secondary-banner-content">
        <h2>Visual</h2>
        <h4>No need to handle data!</h4>
        <h5>Get graphs of your team's <strong>motivation</strong> and overall <strong>satisfaction</strong>.</h5>
      </div>
    </div>

  </div>
</div>

<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(45deg, rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url(<%= asset_path '#' %>);">
    <div class="container">
      <h5>Answer the 3-question form your team mates would receive weekly/monthly.</h5>
      <h5>See an example of the statistics you would get.</h5>
      <%= link_to "Try it Now", "#" , class: "btn btn-success btn-lg", id: "open-questionnaire"%>
    </div>
    <div class="container" id="questionnaire" style="display: none;">
      <%= render 'questionnaire'  %>
    </div>

  </div>
</div>

<script>
  <%= content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {

        $('#open-questionnaire').on('click', function(event){
          $('#open-questionnaire').parent().hide();
          $('#questionnaire').fadeIn("slow");
          $('#answer-text','#q01').focus();

        });
      });
    <% end %>
  <% end %>
</script>
