<div class="wrapper light-bg" style="padding-top: 5em;">
  <div class="container">
    <h1 class="text-center">Thanks for taking the demo!</h1>
    <div class="row">
      <h3 class="text-center">So, here's what we asked you and the answers you gave:</h3>

      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <div class="slightly-padded">

          <div class="col-xs-12" style="padding-bottom: 20px;">
            <div class="text-center card-bg-gradient" style="background: white; color: #969696; text-shadow: 0 0px 0px rgba(0, 0, 0, 0);">
              <h4><strong>Q1: <%= @the_question_1 %></strong></h4>
              <p><%= @the_answer_1 %></p>
            </div>
          </div>

          <div class="col-xs-12" style="padding-bottom: 20px;">
            <div class="text-center card-bg-gradient" style="background: white; color: #969696; text-shadow: 0 0px 0px rgba(0, 0, 0, 0);">
              <h4><strong>Q2: <%= @the_question_2%></strong></h4>
              <p><%= @the_answer_2 %></p>
            </div>
          </div>

          <div class="col-xs-12" style="padding-bottom: 20px;">
            <div class="text-center card-bg-gradient" style="margin-bottom: 10px; background: white; color: #969696; text-shadow: 0 0px 0px rgba(0, 0, 0, 0);">
              <h4><strong>Q3: <%= @the_question_3  %></strong></h4>
              <p><%= @the_answer_3 %></p>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="slightly-padded">
          <div class="col-xs-12 col-sm-7">

            <h3>Here's our analysis of your positivity levels based on your first response:</h3>
            <div class="col-xs-12" style="padding-bottom: 20px;">
            <div class="" style="background: white; color: #969696;">
              <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>
              <%= column_chart [["Question 1", @the_questions[0].answer.pos], ["Question 2", @the_questions[1].answer.pos], ["Question 3", @the_questions[2].answer.pos]] %>
            </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="container" style="padding-bottom: 20px;>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="slightly-padded">
          <div class="col-xs-12">

            <div class="" style="background: white; color: #969696;">
              <%= line_chart [{name:"Positivity", data: ConversationHistory.where(user_id: 1).select {|user_conversation| !user_conversation.answers.average(:pos).nil?}.map {|user_conversation| [user_conversation.created_at, user_conversation.answers.average(:pos)]}},
              {name: "Neutrality", data: ConversationHistory.where(user_id: 1).select {|user_conversation| !user_conversation.answers.average(:neutral).nil?}.map {|user_conversation| [user_conversation.created_at, user_conversation.answers.average(:neutral)]}},
              {name: "Negativity", data: ConversationHistory.where(user_id: 1).select {|user_conversation| !user_conversation.answers.average(:neg).nil?}.map {|user_conversation| [user_conversation.created_at, user_conversation.answers.average(:neg)]}}] %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2 col-md-offset-5">
        <div class="btn btn-primary btn-lg"> Register Now</div>
      </div>
    </div>
  </div>
</div>
