<!DOCTYPE html>
<html>
  <head>
    <title>R.U.O.K? | <%= params[:action] %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
      <section id="navbar">
        <%= render 'shared/navbar' %>
      </section>

      <section id="page-body">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </section>
      <% if !current_page?(root_path) && !current_page?(current_user_profile_path) %>
        <section id="footer">
          <%= render 'layouts/footer' %>
        </section>
      <% end %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>


